.main{
  background-image: url(../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  min-height:91.5vh;
  background-position: top center;
}

.inputText {
  margin-top: 18rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #ccc;
  height: 2rem;
}



